.a:hover{
    border: 2px solid cornflowerblue;
    border-radius: 50px;
}
.b:hover{
    border: 2px solid cornflowerblue;
    border-radius: 50px;
}
.c:hover{
    border: 2px solid cornflowerblue;
    border-radius: 50px;
}
.d:hover{
    border: 2px solid cornflowerblue;
    border-radius: 50px;
}
.e:hover{
    border: 2px solid cornflowerblue;
    border-radius: 50px;
}
.f:hover{
    border: 2px solid cornflowerblue;
    border-radius: 50px;
}