    ::selection{
        background-color: transparent;
        color: rgb(255, 25, 190);
    }
    ::-webkit-scrollbar{
        display: none;
    }
    body{
        margin: 0px;
        animation: fadein 500ms;
    }
    button{
        outline: 0;
    }
    
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 0em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    .banner{
        height: 738px;
        background-blend-mode: multiply;
        background: linear-gradient(rgb(23, 135, 234),rgb(239, 31, 163)100%);
        text-align: center;
        animation: fadein 500ms;
    }
    .logo img{
        width: 90px;
        margin-top: 80px;
        border-radius: 5px;
    }
    .Text1 p{
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 60px;
        color: white;
    }
    .Text2 p{
        font-size: 35px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 20px;
        color: white;
        font-weight: 700;
    }
    .d-btn{
        padding: 10px 20px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 600;
        border: 1px solid;
        cursor: pointer;
        margin: 4px;
        outline: 0;
        transition: background 0.50s;
    }
    .d-btn:hover{
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 0.50px 10px 0px rgb(242, 242, 242);
        color: rgb(0, 174, 255);
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
    }
    .show-down{
        text-align: center;
        margin-top: 90px;
    }
    .show-down div{
        display: block;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        border-right: 3px solid whitesmoke;
        border-bottom: 3px solid whitesmoke;
        margin: auto;
    }
    section{
        display: grid;
    }
    #content{
        text-align: center;
    }
    #content button{
        padding: 8px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 13px;
        background: linear-gradient(rgb(0, 255, 219),rgba(111, 111, 250, 0.65));
        color: black;
        border: none;
        box-shadow: 4px 4px 3px 2px rgb(119, 119, 119);
        border-radius: 3px;
        cursor: pointer;
        margin-top: 15px;
    }
    #content h2{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(100, 149, 237);
        letter-spacing: 1px;
    }
    .bioimg{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .bioimg p{
        margin: auto;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        margin-left: 10px;
    }
    .bioimg img{
        width: 190px;
        margin-left: 25px;
    }
    .download a{
        margin: 0 60px 0 60px;
    }
    nav{
        background: black;
        text-align: center;
        padding: 20px 0px 10px 0px;
        margin-top: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    nav p {
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgb(50, 186, 253);
    }
    nav a{
        text-decoration:none;
        color: cornflowerblue;
        cursor: pointer;
        font-weight: 700;
    }
    nav button{
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .about{
        margin: 0px 20px 0px 20px;
    }
    .social{
        margin-top: 10px;
    }
    .social img{
        width: 30px;
        height: 30px;
        margin: 10px 10px 10px 10px;
        cursor: pointer;
    }
    /* DEV Content */
    #devbody{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 45px;
    }
    #devh2{
        color: cornflowerblue;
    }
    #devh3{
        color: black;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #devlink{
        margin: 0 10px 0 10px;
        color: rgb(53, 120, 245);
    }
