    ::selection{
        background-color: transparent;
        color: rgb(255, 0, 0);
    }
    body{
        margin: 0px;
    }
    button{
        outline: 0;
    }
    
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 0em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .banner{
        /* Background Image Added On Main Page */
        background-repeat: no-repeat;
        height: 738px;
        background-size: cover;
        background-position: 15%;
        background-attachment: fixed;
        background-blend-mode: multiply;
        background-color: rgb(45, 45, 255);
        text-align: center;
    }
    .logo img{
        width: 90px;
        height: 80px;
        margin-top: 80px;
        border-radius: 5px;
    }
    .Text1 p{
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 60px;
        color: white;
    }
    .Text2 p{
        font-size: 35px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 20px;
        color: white;
        font-weight: 700;
    }
    .d-btn{
        padding: 10px 20px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 600;
        border: 1px solid;
        cursor: pointer;
        margin: 4px;
        outline: 0;
    }
    .d-btn:hover{
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 0.50px 10px 0px rgb(242, 242, 242);
        color: rgb(0, 174, 255);
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
    }
    .show-down{
        position: absolute;
        bottom: 70px;
        right: 50%;
        top: 600px;
        animation: both;
        transform-origin: right bottom;
    }
    .show-down div{
        display: block;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        margin: 0 0 3px 10px;
    }
    .Section1{
        text-align: center;
        display: grid;
    }
    .Section1 h3{
        text-align: center;
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: rgb(0, 115, 255);
        margin-top: 10px;
        text-decoration: underline;
    }
    .Section1 h4{
        text-align: center;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: rgb(0, 199, 230);
        margin-top: 1px;
    }
    .Section1A{
        text-align: center;
    }
    .Section1A a{
        text-decoration: none;
    }
    .Section1A a img{
        width: 90px;
        height: 90px;
        margin: 2px;
    }
    .Section1A a img:hover{
        width: 100px;
        height: 100px;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px 10px 2px rgb(0, 142, 198);
    }
    .Section1A a img:focus{
        width: 100px;
        height: 100px;
        background-color: rgb(250, 250, 250);
        box-shadow: 1px 1px 10px 2px rgb(0, 142, 198);
    }
    .Section2B{
        margin: 5px;
    }
    .Section2B div{
        display: inline-block;
    }
    .Section2B  p{
        color: cornflowerblue;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .Section2B .b1{
        text-decoration: none;
        width: auto;
    }
    .Section2B a{
        text-decoration: none;
        display: inline-block;
    }
    .Section2B div img{
        width: 300px;
        height: 300px;
    }
    .Section2D{
        margin: auto;
        border: 2px solid cornflowerblue;
        width: 90%;
        
    }
    .Section2D h2{
        color: cornflowerblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif ; */
    }
    .Section2D .EP1 .aa{
        color: rgb(57, 120, 236);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
    } 
    .Section2D .EP1 .bb{
        color: cornflowerblue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
    } 
    .Section2D .EP1 .cc{
        font-size: 20px;
        color: cornflowerblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
    } 
    #sec2bontools a img:hover{
        background: white;
        padding: 5px;
        box-shadow: 1px 1px 15px 5px rgb(0, 142, 198);
    }
    .Section2C{
         margin-top: 20px;
    }
    .Section3{
        border: 2px solid cornflowerblue;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        box-shadow: 0px 1px 6px 1px rgb(245, 245, 245);
    }
    .Future{
        color: cornflowerblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: underline;
    }
    .Section3 audio{
        margin: 8px;
        display: inline-block;
    }
    .Section3 audio:focus{
        border: 2px solid cornflowerblue;
        outline: 0;
        border-radius: 50px;
    }
    .aucon{
        display: inline-block;
        margin-top: 5px;
    }
    .aucon p{
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: cornflowerblue;
    }
    .sa{
        display: table;
        margin: auto;
        width: auto;
        margin-top: 27px;
        margin-bottom: 10px;
    }
    .sa-btn{
        padding: 8px 8px;
        /* margin-top: 25px; */
        /* margin-bottom: 10px; */
        cursor: pointer;
        background: transparent;
        font-size: 17px;
        border: 1px solid rgb(234, 234, 234);
        background-color: rgb(49, 184, 222);
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sa-btn:hover{
        padding: 10px 10px;
        color: white;
    }
    .background-btn{
        padding: 7px 10px;
        border-radius: 4px;
        background: rgb(19, 149, 230);
        border: none;
        width: auto;
        height: auto;
        margin: 10px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }
    .background-btn:hover{
        background-color: rgb(13, 62, 255);
    }
    .Settings{
        display: grid;
        margin-bottom: 30px;
        text-align: center;
    }
    .Settings p{
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: rgb(17, 96, 244);
        display: block;
        margin-block-start: 1em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-decoration: none;
    }
    .Nav-Bar{
        text-align: center;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 30px 5px cornflowerblue;
        height: 200px;
        width: 100%;
    }
    .Nav-Bar img{
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    .Nav-Bar .nav2{
        margin-left: 30px;
    }
    .Nav-Bar .nav3{
        margin-left: 30px;
    }
    .Nav-Bar img:hover{
        opacity: 60%;
    }
    .Nav-Bar p{
        color: cornflowerblue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .Nav-Bar a{
        text-decoration: none;
        color: cornflowerblue;
    }
    .Nav-Bar a:hover{
        text-decoration: underline;
    }
    .te a{
        margin-top: 10px;
        padding: 18px;
        color: cornflowerblue;
        text-decoration: none;
        width: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .te a:hover{
        text-decoration: underline;
    }
    