.pcs{
    border: 10px solid;
    width: fit-content;
    margin: auto;
    border-bottom: 70px solid;
    border-top: 40px solid;
    border-radius: 12px;
    margin-top: 80px;
}
.bar{
    background: rgba(255, 0, 0, 0);
    height: 40px;
    width: 300px;
    margin: auto;
    margin-top: -50px;
    border-radius: px;
}